<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<!-- 添加图书 -->
		<div id="addBook">
			序号<input type="text" v-model="bookID"/>
			书名<input type="text" v-model="bookName"/>
			作者<input type="text" v-model="bookAuthor"/>
			种类<input type="text" v-model="bookCategory"/>
			出版社<input type="text" v-model="bookPublish"/>
			库存<input type="text" v-model="bookStore"/>
			<button type="button" @click="loadMessage">添加</button>
			<!-- <span>{{messages.result}}</span> -->
		</div>
		
		<!-- 修改图书 -->
		<div id="updateBook">
			序号<input type="text" v-model="bookID"/>
			书名<input type="text" v-model="bookName"/>
			作者<input type="text" v-model="bookAuthor"/>
			种类<input type="text" v-model="bookCategory"/>
			出版社<input type="text" v-model="bookPublish"/>
			库存<input type="text" v-model="bookStore"/>
			<button type="button" @click="loadMessage">修改</button>
			<!-- <span>{{messages.result}}</span> -->
		</div>
		
		<!-- 删除图书 -->
		<div id="deleteBook">
			序号<input type="text" v-model="bookID"/>
			<!-- 书名<input type="text" v-model="bookName"/>
			作者<input type="text" v-model="bookAuthor"/>
			种类<input type="text" v-model="bookCategory"/>
			出版社<input type="text" v-model="bookPublish"/>
			库存<input type="text" v-model="bookStore"/> -->
			<button type="button" @click="loadMessage">删除</button>
			<!-- <span>{{messages.result}}</span> -->
		</div>
		
		<!-- 查找图书 -->
		<div id="searchBook">
			书名
			<input type="text" v-model="bookName"/>
			<button @click="loadMessage">查询</button>
			<ul>
				<li v-for="m in messages">
					<span>{{m.bookID}}</span>
					<span>{{m.bookName}}</span>
					<span>{{m.bookAuthor}}</span>
					<span>{{m.bookCategory}}</span>
					<span>{{m.bookspanublish}}</span>
					<span>{{m.bookStock}}</span>
					<br/>
				</li>
			</ul>
		</div>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			// 查找图书
			let vue = new Vue({
				//vue模板的范围是一个非body元素
				el:'#searchBook',
				//用于双向绑定的数据
				data:{
					bookName:'',
					messages:[]
				},
				//定义Vue中调用的方法
				methods:{
					loadMessage(){
						console.log("点击了查找");
						// 同过网络（ajax）访问数据
						axios.request({
							url:'http://localhost:8080/bms/GetBookListByName',
							method:'get',
							params:{
								name:this.bookName
							}
						}).then((res)=>{
							
							this.messages = res.data;
							console.log(this.messages);
						})
					}
				},
				//生命周期中8个钩子函数中的一个，vue对象已经创建完成的阶段
				created(){//created:function()
					//this表示当前Vue对象
					this.loadMessage()
				}
			})
			// 添加图书
			let addBook = new Vue({
				//vue模板的范围是一个非body元素
				el:'#addBook',
				//用于双向绑定的数据
				data:{
					bookID:'',
					bookName:'',
					bookAuthor:'',
					bookCategory:'',
					bookPublish:'',
					bookStore:'',
					messages:[],
				},
				//定义Vue中调用的方法
				methods:{
					loadMessage(){
						console.log("点击了添加");
						// ajax
						axios.request({
							url:'http://localhost:8080/bms/AddBook',
							method:'get',
							params:{
								bookID:this.bookID,
								bookName:this.bookName,
								bookAuthor:this.bookAuthor,
								bookCategory:this.bookCategory,
								bookPublish:this.bookPublish,
								bookStore:this.bookStore,
							}
						}).then((res)=>{
							
							this.messages = res.data;
							console.log(this.messages);
							vue.loadMessage();
							alert(this.messages.result);
						})
					}
				},
				//生命周期中8个钩子函数中的一个，vue对象已经创建完成的阶段
				created(){//created:function()
					//this表示当前Vue对象
					// this.loadMessage()
				}
			})
			
			// 删除图书
			let deleteBook = new Vue({
				//vue模板的范围是一个非body元素
				el:'#deleteBook',
				//用于双向绑定的数据
				data:{
					bookID:'',
					// bookName:'',
					// bookAuthor:'',
					// bookCategory:'',
					// bookPublish:'',
					// bookStore:'',
					messages:[],
				},
				//定义Vue中调用的方法
				methods:{
					loadMessage(){
						console.log("点击了删除");
						axios.request({
							url:'http://localhost:8080/bms/DeleteBook',
							method:'get',
							params:{
								bookID:this.bookID,
								// bookName:this.bookName,
								// bookAuthor:this.bookAuthor,
								// bookCategory:this.bookCategory,
								// bookPublish:this.bookPublish,
								// bookStore:this.bookStore,
							}
						}).then((res)=>{
							
							this.messages = res.data;
							console.log(this.messages);
							vue.loadMessage();
							alert(this.messages.result);
						})
					}
				},
				//生命周期中8个钩子函数中的一个，vue对象已经创建完成的阶段
				created(){//created:function()
					//this表示当前Vue对象
					// this.loadMessage()
				}
			})
			// 修改图书
			let updateBook = new Vue({
				//vue模板的范围是一个非body元素
				el:'#updateBook',
				//用于双向绑定的数据
				data:{
					bookID:'',
					bookName:'',
					bookAuthor:'',
					bookCategory:'',
					bookPublish:'',
					bookStore:'',
					messages:[],
				},
				//定义Vue中调用的方法
				methods:{
					loadMessage(){
						console.log("点击了修改");
						axios.request({
							url:'http://localhost:8080/bms/UpdateBook',
							method:'get',
							params:{
								bookID:this.bookID,
								bookName:this.bookName,
								bookAuthor:this.bookAuthor,
								bookCategory:this.bookCategory,
								bookPublish:this.bookPublish,
								bookStore:this.bookStore,
							}
						}).then((res)=>{
							
							this.messages = res.data;
							console.log(this.messages);
							vue.loadMessage();
							alert(this.messages.result);
						})
					}
				},
				//生命周期中8个钩子函数中的一个，vue对象已经创建完成的阶段
				created(){//created:function()
					//this表示当前Vue对象
					// this.loadMessage()
				}
			})
		</script>
	</body>